@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
/* Mobile */
body{
    background-color: #494D5F;
    color: #E5EAF5;
    
}
.header{
    text-align: center;
    margin: 20px 0;
    /* background-color: #d0bdf4; */
    height:auto;
    width: 100%;
}
.header h1{
    font-weight: 200;
}
.header p{
    font-weight: 100;
}

.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 20px;
    padding: 20px;
}
.card{
    height:170px;
    width: 170px;   
    overflow: hidden;
}
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}


/* Laptop */
@media only screen and (min-width: 768px) {
    body{
        
    }
    .app{
        height:100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
     }
    
    .game{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 5px;
    }
    .card{
        height:120px;
        width:120px;   
        margin-right: 10px;
    }
   
}

@media only screen and (min-width: 1400px) {
    .card{
        height:180px;
        width:180px;   
        margin-right: 10px;
    }
}